{%- extends config.REROILS_RECORD_EDITOR_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{_(record_type)}} {{_('Editor')}}</h1>
        <reroils-editor id="reroils-editor" ng-controller="FormController">
            {%- block editor_init %}
            <editor-params
                form='{{ form | jsondumps }}'
                model='{{ model | tojson }}'
                schema='{{ schema | tojson }}'
                api_save_url='{{ api_save_url }}'
                {%- if parent_pid %}
                parent_pid='{{ parent_pid }}'
                {% endif %}
            ></editor-params>
            {%- endblock editor_init %}

            {%- block alert %}
            <alert></alert>
            {%- endblock alert %}

            {%- block schema_editor %}
            <div class="container">
                <div class="row">
                    <schema-form></schema-form>
                </div>
            </div>
            {%- endblock schema_editor %}

        </reroils-editor>
      </div>
    </div>
</div>

    {%- block editor_javascript %}
    {% assets "reroils_record_editor_editor_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {% assets "reroils_record_editor_i18n" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    <script type="text/javascript">
        (function (angular) {
            // Bootstrap it!
            angular.element(document).ready(function() {
                angular.bootstrap(
                    document.getElementById("reroils-editor"), [
                        'reroilsEditor',
                        'schemaForm'
                    ]
                );
            });
        })(angular);
    </script>
    {%- endblock %}

{%- endblock %}


