{%- extends config.REROILS_RECORD_EDITOR_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{_(record_type)}} {{_('Editor')}}</h1>
        <rero-editor
            form='{{ form | jsondumps }}'
            model='{{ model | tojson }}'
            schema='{{ schema | tojson }}'
            url_api='{{ url_api }}'
            record_type='{{record_type}}'
            >
        </rero-editor>
      </div>
    </div>
</div>
{%- endblock %}

{%- block javascript %}
<script type="text/javascript" src="/static/js/reroils_record_editor/inline.bundle.js"></script>
<script type="text/javascript" src="/static/js/reroils_record_editor/polyfills.bundle.js"></script>
<script type="text/javascript" src="/static/js/reroils_record_editor/styles.bundle.js"></script>
<script type="text/javascript" src="/static/js/reroils_record_editor/vendor.bundle.js"></script>
<script type="text/javascript" src="/static/js/reroils_record_editor/main.bundle.js"></script></body>
{{ super() }}
{%- endblock %}
